@media(width < 426px) {
    .letter {
        width: 90vw;
        height: 50vw;
    }

    .card > h1 {
        font-size: 3vw;
        -webkit-text-stroke: 0.5px black;
    }

    h2 {
        font-size: 4vw;
    }
}
